.detail_photo {
  .top_image {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 350px;
  }
  .top_info {
    background-color: #f2f2f2;
    padding: 3px 8px;
    font-size: 15px;
    line-height: 19px;
  }
  .general_info {
    padding: 12px;
  }
}
