@if (loading) {
  <div class="row">
    <div class="col-12">
      <mat-spinner diameter="50" />
    </div>
  </div>
} @else {
  <div class="detail_photo">
    <div class="top_image" [style.background-image]="'url(' + photoSelected.img_src + ')'"></div>
    <div class="top_info">
      <div>{{ photoSelected.id + ' - ' + photoSelected.camera.name + ' | ' + photoSelected.camera.full_name }}</div>
      <div>{{ photoSelected.rover.name }}</div>
    </div>
    <div class="general_info">
      <p><b>Date: </b> {{ photoSelected.earth_date }}</p>
      <p><b>Sol: </b> {{ photoSelected.sol }}</p>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button mat-stroked-button class="red_button" (click)="closeDrawer()">Cerrar</button>
      </div>
    </div>
  </div>
}
