<section class="d-flex align-items-center justify-content-center vh-100">
  <article class="text-center">
    <h1 class="display-1 fw-bold">404</h1>
    <img src="../../../../../assets/images/page_not_found.svg" alt="Not Found" class="logo-404" />
    <p class="fs-3"><span class="text-danger">Opps!</span> Pagina no encontrada.</p>
    <p class="lead">La página que esta buscando no existe.</p>
    <a routerLink="/" class="btn btn-primary">Ir al inicio</a>
  </article>
</section>
