<div class="container-fluid sp h-100">
  <div class="row sm h-100">
    <div class="col-12 sp">
      <mat-drawer-container class="h-100">
        <div class="sidenav-content">
          <div class="container mt-4">
            <h1>Mars Rover Photos</h1>

            <div class="row mb-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-body pb-0">
                    <div class="row d-flex align-items-center">
                      <div class="col-md-3 item_filter">
                        <mat-form-field appearance="fill">
                          <mat-label>Select Rover</mat-label>
                          <mat-select [(value)]="initialRoverName" (selectionChange)="onRoverChange($event.value)">
                            <mat-option *ngFor="let rover of roverNames" [value]="rover">
                              {{ rover | titlecase }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 item_filter">
                        <mat-form-field appearance="fill">
                          <mat-label>Select Camera</mat-label>
                          <mat-select [(value)]="state().camera" (selectionChange)="onCameraChange($event.value)">
                            <mat-option *ngFor="let camera of cameraNames" [value]="camera">
                              {{ camera | titlecase }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 item_filter">
                        <button mat-stroked-button class="mt_m20" (click)="onSetFilters()">Filtrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    @if (loading) {
                      <mat-spinner />
                    } @else {
                      @if (tableData.length > 0) {
                        <app-photo-table [photos]="tableData" (photoSelected)="openDetailPhoto($event)" />
                      } @else {
                        No hay datos.
                      }
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-drawer #drawer class="right_side_navbar" mode="over" position="end">
          @if (photoSelected) {
            <app-detail-photo [photoSelected]="photoSelected" (closeSidebar)="closeDrawer()" />
          }
        </mat-drawer>
      </mat-drawer-container>
    </div>
  </div>
</div>
