.mat-header-row,
.mat-row {
  width: 100%;
}

.img_mars {
  max-height: 55px;
}

.mat-mdc-table {
  .mat-mdc-cell {
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
