<div class="container-fluid">
  <div class="row">
    <div class="col-12 table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- camera Column -->
        <ng-container matColumnDef="camera">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Camera</th>
          <td mat-cell *matCellDef="let row">{{ row.camera.name + ' | ' + row.camera.full_name }}</td>
        </ng-container>

        <!-- camera Column -->
        <ng-container matColumnDef="rover">
          <th mat-header-cell *matHeaderCellDef>Rover</th>
          <td mat-cell *matCellDef="let row">
            <span class="{{ row.rover.name | roverBadge }}">{{ row.rover.name }}</span>
          </td>
        </ng-container>

        <!-- photo Column -->
        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef>Photo</th>
          <td mat-cell *matCellDef="let row">
            <div class="image-container">
              @if (loadingState.get(row.id)?.loading) {
                <div class="spinner-container">
                  <mat-spinner diameter="20"></mat-spinner>
                </div>
              }
              @if (!loadingState.get(row.id)?.showDefaultImage) {
                <img
                  [src]="row.img_src"
                  [alt]="row.camera.name"
                  class="img_mars img-fluid rounded mx-auto d-block"
                  (load)="onImageLoad(row)"
                  (error)="onImageError(row)"
                />
              }
              @if (loadingState.get(row.id)?.showDefaultImage) {
                <img
                  src="../../../../../assets/images/no_image.jpeg"
                  alt="not found"
                  class="img_mars img-fluid rounded mx-auto d-block"
                  (load)="spinnerHidden(row)"
                />
              }
            </div>
          </td>
        </ng-container>

        <!-- earth_date Column -->
        <ng-container matColumnDef="earth_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Earth date</th>
          <td mat-cell *matCellDef="let row">{{ row.earth_date }}</td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-stroked-button class="mt_m20" (click)="selectedItem(row)">Detalle</button>
          </td>
        </ng-container>

        <tr class="mat-row stripped" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            <div class="no_results">No hay resultados (Tabla)</div>
          </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="elementsByPage" aria-label="Lista de fotos de marte por la NASA." />
  </div>
</div>
