/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f9f9f9;
  color: #2a2c2e;
}

.sp {
  padding: 0;
}

.sm {
  margin: 0;
}

.right_side_navbar {
  width: 460px !important;
}

.red_button {
  background-color: #e4002b !important;
  color: white !important;
}
